<div class="cart-item">
  <div class="cart-item-img">
    <img src={{book.thumbnail}} />
  </div>

  <div class="cart-item-detail">
    <div class="cart-item-info">
      <div class="cart-item-info-left">
        <h5>{{book.title}}</h5>
        <p>{{book.author}}</p>
      </div>
      <div class="cart-item-info-right">
       {{fa-icon "ellipsis-v"}}
      </div>
    </div>
    <div class="cart-item-info">
      <div class="cart-item-info-left">
        <span>{{fa-icon "minus-circle"}}</span> 
        <span>1</span> 
        <span>{{fa-icon "plus-circle"}}</span>
      </div>
      <div class="cart-item-info-right">
        <p>${{book.price}}</p>
      </div>
    </div>
  </div>
</div>
