<div class="cart-item">
  <div class="cart-item-img">
    <img src={{book.book.thumbnail}} />
  </div>

  <div class="cart-item-detail">
    <div class="cart-item-info">
      <div class="cart-item-info-left">
        <h5>{{book.book.title}}</h5>
        <p>{{book.book.author}}</p>
      </div>
      <div class="cart-item-info-right">
       <button {{action 'removeItem' book.book.id}}>{{fa-icon "times-circle"}}</button>
      </div>
    </div>
    <div class="cart-item-info">
      <div class="cart-item-info-left">
        <span>{{fa-icon "minus-circle"}}</span> 
        <span>1</span> 
        <span>{{fa-icon "plus-circle"}}</span>
      </div>
      <div class="cart-item-info-right">
        <p>${{book.book.price}}</p>
      </div>
    </div>
  </div>
</div>
