<section class="main-body">
  <div class="main-body-header">
    <div>
      <h1>{{title}}</h1>
      <p>{{slogan}}</p>
    </div>
    <LinkTo @route="books">View all</LinkTo>
  </div>
  <div class="main-body-content">
    {{#each books as |book|}}
      <div class="main-body-content-item">
        <div>
          <img src={{book.image}} alt="">
          <span class="sale">-15%</span>
        </div>
        <article>
          <span>{{book.author}}</span>
          <h5>{{book.title}}</h5>
          <p>${{book.price}}</p>
        </article>
      </div>
    {{/each}}
  </div>
</section>