<div class="review">
  <div class="review-header">
    <hr class="review-divider">
    <p>Please leave your ratings!</p>
  </div>

  <div class="review-star">
    {{fa-icon "star"}} {{fa-icon "star"}} {{fa-icon "star"}} {{fa-icon "star"}} {{fa-icon "star"}}
  </div>

  <div class="review-content">
    <h6>Tell us about what you think</h6>
    <form action="" class="review-content-form">
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <div class="bluebtn">
        <button type="submit">Submit Review</button>
      </div>
    </form>
  </div>

</div>


{{yield}}