<div class="container-fluid">

<h4>{{model.title}}</h4>
<h6>{{model.author}}</h6>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img src={{model.thumbnail}} alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <p>ISBN: {{model.isbn}}</p>
    </div>

    <div class="col-6">
      <p>Price: {{model.price}}</p>
    </div>
    <div class="col-12">
      Product Description
      <p>{{model.description}}</p>
    </div>

        <div class="col-6">
      <p>Cateogry: {{model.category}}</p>
    </div>

    <div class="col-6">
      <p>Conidition: {{model.condition}}</p>
    </div>
  </div>
  {{#if isOwner}}
    {{#link-to 'books.book.edit' model}}Edit{{/link-to}}
  {{/if}}
</div>