<div class="container-fluid">

<h4>{{model.title}}</h4>
<h6>{{model.author}}</h6>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img src="/image/small-great-things.png" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <p>ISBN: {{model.isbn}}</p>
    </div>

    <div class="col-6">
      <p>Price: {{model.price}}</p>
    </div>
    <div class="col">
      Product Description
      <p>{{model.description}}</p>
    </div>
  </div>

</div>