<div class="book-view">
  
  <div class="book-view-thumb">
    <img src={{model.thumbnail}} alt="">
  </div>

  <div class="book-view-info">
    <div class="book-view-info-item">
      <h4 class="book-title">{{model.title}}</h4>
      <p>{{model.author}}</p>
      <p>{{model.isbn}}</p>
      <p>Cateogry -- {{model.category}}</p>
      <p>Conidition -- {{model.condition}}</p>
    </div>
    
    <div class="book-view-info-item">
      <span>${{model.price}}</span>
    </div>
  </div>
    
  <div class="book-view-description">
    <p>{{model.description}}</p>
  </div>

  <div class="bluebtn">
     <button {{action 'addItem' book.id}}>Add to Cart</button>
  </div>

  <div class="book-view-edit">
    {{#if isOwner}}
      {{#link-to 'books.book.edit' model}}Edit{{/link-to}}
    {{/if}}
  </div>
</div>