  <div class="container-fluid">
    
      <div class="input-group">
            {{input type="text" value=search placeholder="Title" class="form-control py-2"}}
            <span class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">
                  <i class="fa fa-search"></i>
              </button>
            </span>
      </div>

  </div>

    {{#each model as |book|}}
      <hr>
      <div class="containger-fluid">
        
        <div class="row books">
          <div class="col-4">
            {{#if book.thumbnail}}
              <img src={{book.thumbnail}} alt="">
            {{else}}
              <img src="https://s3.us-east-2.amazonaws.com/txt-covers/uploads/cover/NoImage/nopicture.gif" alt="">
            {{/if}}
          </div>
          <div class="col-8">
            <h6>{{book.title}}</h6>
            <p>by {{book.author}}</p>
            <p><strong>${{book.price}}</strong></p>
            <p>Condition: {{book.condition}}</p>
            {{#link-to 'books.book.show' book}}View Details{{/link-to}} 
            |
            <button {{action 'addItem' book.id}}>Add to Cart</button>
          </div>
        </div>
      </div>
        
    {{/each}}