<div class="container-fluid">

		<h2>Add a book...get paid</h2>

    <form onsubmit={{action "createNewBook"}}>
        <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Title</label>
                        {{input type="text" class="form-control" value=title placeholder="Title"}}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Author</label>
                      {{input type="text" class="form-control" value=author placeholder="Author"}}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">ISBN</label>
                      {{input type="text" class="form-control" value=isbn placeholder="ISBN"}}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Price</label>
                      {{input type="text" class="form-control" value=price placeholder="Price"}}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Description</label>
                      {{textarea class="form-control" value=description}}
                    </div>
                </div>
								<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Condition</label>
											<select onchange={{action "setCondition" value="target.value"}}>
												 <option disabled selected> -- Condition -- </option>
												    <option value="excellent">Excellent</option>
												    <option value="good">Good</option>
														<option value="average">Average</option>
														<option value="poor">Poor</option>
											</select>
										</div>
								</div>

								<div class="col-md-12">
										{{cover-image sendCover=(action 'sendCover')}}
								</div>
                                
								<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Category</label>
											<select onchange={{action "setCategory" value="target.value"}}>
												 <option disabled selected> -- Category -- </option>
												    <option value="novel">Novel</option>
												    <option value="college">College Level</option>
														<option value="highSchool">High School Level</option>
														<option value="kids">Kids</option>
											</select>
										</div>
								</div>
        </div>

             <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
    </form>
</div>