
      {{#bs-navbar as |navbar|}}

        
        {{navbar.toggle}}

          <img src="logo/logo_head.png" atl="Logo" class="logo" />

            {{#navbar.content}}
              {{#navbar.nav as |nav|}}
                  {{#nav.item}}{{#nav.link-to "index"}} Home {{/nav.link-to}}{{/nav.item}}
                  {{#nav.item}}{{#nav.link-to "users.profile"}} My Account {{/nav.link-to}}{{/nav.item}}
                  {{#nav.item}}{{#nav.link-to "books"}} All Books {{/nav.link-to}}{{/nav.item}}
                  {{#nav.item}}{{#nav.link-to "sign-up"}} Register {{/nav.link-to}}{{/nav.item}}
                {{#if session.isAuthenticated}}
                  {{#nav.item}}{{#nav.link-to "sign-up"}}Logout{{/nav.link-to}}{{/nav.item}}
                {{else}}
                  {{#nav.item}}{{#nav.link-to "login"}} Login {{/nav.link-to}}{{/nav.item}}
                {{/if}}
                {{/navbar.nav}}
            {{/navbar.content}}

          {{#link-to 'cart'}}<i style="font-size:24px" class="fa">&#xf07a;</i> {{cart.bookCount}} {{/link-to}}

      {{/bs-navbar}}


  <div class="body-content"> {{outlet}}</div>

  <footer class="fc-white tx-center fz-x mt-auto">
    <div class="container-fluid">

        <div class="row d-flex flex-column bgc-darkslategray">
            
            {{#if session.isAuthenticated }}
              <button class="fc-white bgc-darkslategray no-borders" type="button" {{action "logOut"}}>Logout</button>
            {{else}}
              <button type="button" disabled>Logout</button>
            {{/if}}

          <p> Copy right. All rights reserved </p>
        </div>

    </div>
  </footer>
