
<div class="navbar">
  <div class="nav-links">
    <LinkTo @route="index">{{fa-icon "home"}}</LinkTo>
    <LinkTo @route="books">{{fa-icon "shopping-bag"}}</LinkTo>
    <LinkTo @route="cart">{{fa-icon "shopping-cart"}}</LinkTo>
    <LinkTo @route="users.profile">{{fa-icon "user-circle"}}</LinkTo>
  </div>

  <div class="nav-labels">
    <ul>
      <li>Home</li>
      <li>Shop</li>
      <li>Cart <span style="font-weight: bold">({{model.books_count}})</span></li>
      <li>Profile</li>
    </ul>
  </div>
</div>
<div class="body-content"> {{outlet}}</div>

