
      {{#bs-navbar as |navbar|}}

        
        {{navbar.toggle}}

          <img src="logo/logo_head.png" atl="Logo" class="logo" />

          {{#link-to 'checkout'}}<i style="font-size:24px" class="fa">&#xf07a;</i> {{cart.bookIds.length}} {{/link-to}}

            {{#navbar.content}}
              {{#navbar.nav as |nav|}}
                  {{#nav.item}}{{#nav.link-to "index"}} Home {{/nav.link-to}}{{/nav.item}}
                  {{#nav.item}}{{#nav.link-to "users.profile"}} My Account {{/nav.link-to}}{{/nav.item}}
                  {{#nav.item}}{{#nav.link-to "books"}} All Books {{/nav.link-to}}{{/nav.item}}
                  {{#nav.item}}{{#nav.link-to "sign-up"}} Register {{/nav.link-to}}{{/nav.item}}
                {{#if session.isAuthenticated}}
                  {{#nav.item}}<span {{action "logOut"}}>Logout</span>{{/nav.item}}
                {{else}}
                  {{#nav.item}}{{#nav.link-to "login"}} Login {{/nav.link-to}}{{/nav.item}}
                {{/if}}
                {{/navbar.nav}}
            {{/navbar.content}}

      {{/bs-navbar}}

  <div class="content flex-shink-0"> {{outlet}}</div>

  <footer class="footer mt-auto">
    <div class="container-fluid">
        <div class="row d-flex footer-links">
            <div class="col-6">
              <ul>
                <li>txt.com</li>
                <li>Contact Us</li>
                <li>Sell Your Books</li>
              </ul>
            </div>
            <div class="col-6">
              <ul>
                <li>Your Orders</li>
                <li>Your Account</li>
                <li>Wish List</li>
              </ul>
            </div>
        </div>
        <div class="row d-flex justify-content-center footer-copyright">
            
            {{#if session.isAuthenticated }}
              <button class="sign-out" type="button" {{action "logOut"}}>Logout</button>
            {{else}}
              <button type="button" disabled>Logout</button>
            {{/if}}

            <div class="col-12">Copy right. All rights reserved</div>
        </div>

    </div>
  </footer>
