<div class="cart">

  <div>
    <span> Subtotal ({{cart.bookCount}} items): {{cart.total}} </span>
  </div>

  {{#if session.isAuthenticated}}
    {{#each model as |book|}}
      {{cart-list book=book}}
    {{/each}}
  {{else}}
    {{#each cart.books as |book|}}
      {{cart-list book=book}}
    {{/each}}
  {{/if}}

  <div>
    Cart Total: {{cart.roundedTotal}}
  </div>

  {{paypal-button createPayment=(action "createPayPalOrder") approvePayment=(action "approvePayPalOrder") }}

</div>