<div class="cart">
  <h4>You're almost a book owner</h4>
  <p>Lets complete this the proccess here</p>

    <div class="alert-primary">
      <h4>Your Cart Total: {{cart.roundedTotal}}</h4>
    </div>

    {{model.id}}
    
  {{#each model.books as |book|}}
    <hr>
    <div class="check-out">
      <div class="row">
        <div class="col-4">
          <img class="index-img" src={{book.thumbnail}} />
        </div>
        <div class="col-8">
          <h5>{{book.title}}</h5>
          <p>${{book.price}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <select name="" id="" class="btn btn-default dropdown-toggle">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        
          <button class="btn btn-danger" {{action 'removeItem' book.id}}>Remove</button>
        </div>
      </div>
    </div>
  {{/each}}

    <div>
         <button class="btn btn-default" {{action 'clear'}}>Clear</button>
    </div>

    <div>
      Cart Total: {{cart.roundedTotal}}
    </div>

    {{paypal-button createPayment=(action "createPayPalOrder") approvePayment=(action "approvePayPalOrder") }}
    
</div>