  <header class="banner d-flex justify-content-center align-items-center">
      <div>
        <img src="/logo/txttide.png" width="200px" height="200px" alt="">
      </div>
  </header>

<div class="container-fluid">
  
  <h2>Best Deals</h2>
  <section class="row">
    
      <div class="col-6 col-md-3 d-flex justify-content-center">
        <div>
          {{fa-icon 'book' size=4}}
          <p>Books</p>
        </div>
      </div>
      <div class="col-6 col-md-3 d-flex justify-content-center">
        <div>
          {{fa-icon 'check-circle' size=4}}
          <p>Deals</p>
        </div>
      </div>

    <div class="col-6 col-md-3 d-flex justify-content-center">
      <div>
        {{fa-icon 'user' size=4}}
        <p>Join Us</p>
      </div>
    </div>
    <div class="col-6 col-md-3 d-flex justify-content-center">
      <div>
        {{fa-icon 'check-circle' size=4}}
        <p>Deals</p>
      </div>
    </div>
  </section>

  <div class="row">
      <div class="">footer</div>

  </div>

    <!-- {{#each model as |book|}}
      <div class="">
        {{book.cover}}
        {{book.title}}
        {{book.author}}
        {{book.isbn}}
        {{#link-to 'books.book.show' book}}Show book{{/link-to}}
      </div>
    {{/each}} -->


</div>
